@import "tailwindcss";

@theme {
  --font-sans: "Roboto Flex", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Lora", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

:root {
  font-family: "Roboto Flex", sans-serif;
}